{% extends "base.html" %}



{% block content %}


<div class="jumbotron jumbotron-fluid" id="transparent">
  <div class="container">
    <h4>Hi, I'm Gabriela ~ </h4>
    <div class="row">
        <div class="col">
            I am a fullstack software engineer. I am also an educator and aspiring film critic.
            <br>
            <br>
            When I was little, each night before bedtime, my mom had to take the telephone cable that connected the modem to the telephone jack (also known as an ethernet cable). Otherwise, I would have spent the whole night collecting NeoPet avatars, browsing Wikipedia, and editing HTML/CSS.
            <br>
            <br>
            Recently, I completed Hackbright, a 12-week accelerated software engineering program for women, where I learned fullstack web development and Computer Science fundamentals. I love clean, modular code, and I love how software engineering keeps me on my toes, learning new things every day. You can check out my project's demo <a href="https://vimeo.com/290716122">here</a> or check out my GitHub below.
            <br>
            <br>
            Previously, I was a fifth grade teacher. One morning, I was teaching a lesson on growth mindset, and as I was teaching, I remembered how much I loved tinkering on my computer and missed the feeling. I decided to challenge myself, so I started learning how to code after work and on weekends. Before I knew it, I wanted to code full-time. Now I look forward to combining my interests and skills at a company where I can continue to grow. Reach out if you would like to work together or talk film!
        </div>
    </div>

</div>
</div>

    <div class="jumbotron jumbotron-fluid techstack" id="transparent">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Languages</h5>
                Python
                <br>JavaScript (AJAX, JSON)
                <br>HTML/CSS
                <br>SQL
            </div>
            <div class="col">
                <h5>Frameworks & Libraries</h5>
                Flask
                <br>jQuery
                <br>ReactJS
                <br>Bootstrap
                <br>ChartJS
            </div>
            <div class="col">
                <h5>Database/Industry Tools</h5>
                PostgreSQL
                <br>Git
                <br>GitHub
                <br>Command Line
            </div>
        </div>
        <br><br><br>
          <div class="row" align="justify-content-center">
            <div class="col">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" title="Resume" href="https://docs.google.com/document/d/16KXUm6bONfoH2zmRdrHd2kw9Gv3xLski5T-EvPsXka8/edit?usp=sharing"><i class="far fa-file"></i></a>
                   </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/gabrielainsf"><i class="fab fa-github"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/gabrielacc/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://twitter.com/gabrielainsf"><i class="fab fa-twitter"></i></a>
                  </li>
                </ul>
            </div>
        </div>


{% endblock %}